$primaryT-color: #FF6060; // Bittersweet
$secondaryT-color: #000000; // Black
$blockT-color: #FFFFFF; // White

$primaryB-color: #FFFFFF; // White
$secondaryB-color: #F6F6F6; // Grey Seasalt
$blockB-color: #FF6060; // Bittersweet

$filledStar-color: #FF6060; // Bittersweet filled star
$emptyStar-color: #E3E3E3; // Grey empty star

$font-family-base: 'Montserrat', sans-serif;

$breakpoint-mobile: 480px;
$breakpoint-desktop: 1024px;
