@import 'variables';

.info {
    display: flex;
    flex-direction: column;
    font-family: $font-family-base;
    font-weight: 500;
    margin: 10px 100px 30px 100px;

    @media(min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
        margin: 8px 50px 15px 50px;
    }
        
    @media (max-width: $breakpoint-mobile) {
        margin: 5px 20px 10px 20px;
    }
}

/* -------------------------- CARROUSEL ------------------ */
.carousel {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 415px;
    margin-bottom: 20px;

    @media(min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
        height: 335px;
    }
    
    @media (max-width: $breakpoint-mobile) {
        height: 255px;
    }

    &__picture {
        width: 100%;
        height: auto;
        border-radius: 25px;
        object-fit: cover;
    }

    &__previousButton--active, &__nextButton--active {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        width: 100px;
        background: none;
        border: none;
        padding: 20px;
        cursor: pointer;

        @media(min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
            width: 60px;
            padding: 10px;
        }
            
        @media (max-width: $breakpoint-mobile) {
            width: 24px;
            padding: 5px;
        }
    }

    &__previousButton--inactive, &__nextButton--inactive {
        display: none;
    }

    &__previousButton--icone, &__nextButton--icone {
        font-size: 120px;
        
        @media(min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
            font-size: 75px;
        }
            
        @media (max-width: $breakpoint-mobile) {
            font-size: 30px;
        }
    }

    &__previousButton--active {
        left: -30px;

        @media(min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
            left: -17px;
        }
            
        @media (max-width: $breakpoint-mobile) {
            left: -5px;
        }
    }
      
    &__nextButton--active {
        right: 30px;

        @media(min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
            right: 20px;
        }
            
        @media (max-width: $breakpoint-mobile) {
            right: 10px;
        }
    }

    &__slideIndex--active {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 16px;
        font-weight: 500;
        border-radius: 5px;
    }

    &__slideIndex--inactive {
        display: none;
    }
}

/* ---------------------------- TITRE ET INFORMATIONS GENERALES --------------- */
.infoBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-top: 5px;

    @media(min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
        flex-direction: column;

    }
        
    @media (max-width: $breakpoint-mobile) {
        flex-direction: column;
    }
}

.identification {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;

    @media(min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
        width: 100%;
    }
        
    @media (max-width: $breakpoint-mobile) {
        width: 100%;
    }

    &__title {
        font-size: 36px;
        color: $primaryT-color;
        margin: 0;

        @media(min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
            font-size: 26px;
        }
            
        @media (max-width: $breakpoint-mobile) {
            font-size: 18px;
        }
    }

    &__location {
        flex-direction: row;
        justify-content: start;
        font-size: 18px;

        @media(min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
            font-size: 16px;
        }
            
        @media (max-width: $breakpoint-mobile) {
            font-size: 14px;
        }
    }

    &__tags {
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 10px;

        @media(min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
            flex-wrap: wrap;
            row-gap: 0;
            
        }
            
        @media (max-width: $breakpoint-mobile) {
            flex-wrap: wrap;
            row-gap: 0;
        }
    
        &--tag {
            border: none;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            background: $blockB-color;
            color: $blockT-color;
            border-radius: 10px;
            padding: 3px 22px 3px 22px; 
        }
    }
}

/* -------------------------- TAGS ET RATING -------------------------- */
.additional {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 20%;
    gap: 30px;
    
    
    @media(min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
    }
        
    @media (max-width: $breakpoint-mobile) {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
    }

    &__host {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;

        &--name {
            font-size: 18px;
            color: $primaryT-color;
            margin: 0;
            text-align: end;
            width: 93px;
        }
            
        &--img {
            width: 64px;
            height: 64px;
            border-radius: 32px;
        }
    }

    &__rating {
        display: flex;
        flex-direction: row;
        justify-content: center;

        &--stars {
            font-size: 27px;
            margin-left: 4px;

            @media(min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
                font-size: 27px;
            }
                
            @media (max-width: $breakpoint-mobile) {
                font-size: 15px;
            }
        }

        &--stars .active {
            color: $filledStar-color;
        }
        
        &--stars .inactive {
            color: $emptyStar-color;
        }
    }
}

/* ---------------------- INFORMATIONS DETAILLEES (Description et Equipements) ---------------------- */
.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
        
    @media (max-width: $breakpoint-mobile) {
        flex-direction: column;
        margin-bottom: 0;
    }

    &__block {
        display: flex;
        flex-direction: column;
        width: 47%;

        @media (max-width: $breakpoint-mobile) {
            width: 100%;
            margin-bottom: 25px;
        }

        &__banner {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: $blockT-color;
            background: $blockB-color;
            padding: 5px 20px;
            border-radius: 10px;
            font-size: 18px;
            font-weight: 700;
            border: none;
            z-index: 1;
            position: relative;

            @media(min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
                font-size: 16px;
            }
                
            @media (max-width: $breakpoint-mobile) {
                font-size: 13px;
            }

            &--chevron {
                font-size: 35px;
                color: $blockT-color;
                padding: 0;
                background: none;
                border: none;

                @media(min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
                    font-size: 30px;
                    color: $blockT-color;
                }
                    
                @media (max-width: $breakpoint-mobile) {
                    font-size: 23px;
                    color: $blockT-color;
                }
            }
        }

        &--description {
            min-height: 280px;
            color: $secondaryT-color;
            font-weight: 400;
            padding: 30px 20px 20px 20px;
            background-color: $secondaryB-color;
            margin-top: -10px;
            border-radius: 5px;
            z-index: 0;
            position: relative;

            @media(min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
                font-size: 14px;
                padding: 25px 15px 15px 15px;
            }
                
            @media (max-width: $breakpoint-mobile) {
                font-size: 12px;
                padding: 20px 10px 10px 10px;
                min-height: auto;
            }
        }
        
        &--listEquipment {
            list-style: none;
            min-height: 280px;
            padding: 30px 20px 20px 20px;
            background-color: $secondaryB-color;
            margin-top: -10px;
            border-radius: 5px;
            z-index: 0;
            position: relative;

            @media(min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
                font-size: 14px;
                padding: 25px 15px 15px 15px;
            }
                
            @media (max-width: $breakpoint-mobile) {
                font-size: 12px;
                padding: 20px 10px 10px 10px;
                min-height: auto;
            }
        }
    }
}
