
:root {
    --textMain: #FF6060; /* Bittersweet*/
    --textLow: #000000; /* Black */
    --textBlock:#FFFFFF; /* White */
    --textFooter: #FFFFFF; /* White */
    --backgroundMain: #FFFFFF; /* White */
    --backgroundBlock: #FF6060; /* Bittersweet */
    --backgroundPicture: #F6F6F6; /* Grey Seasalt */
    --backgroundFooter: #000000; /* Black */
    --filledStar: #FF6060; /* Bittersweet filled star */
    --emptyStar: #E3E3E3; /* Grey empty star */
}

.info {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    font-weight: 500;
    margin: 30px 100px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title--main {
    font-size: 36px;
    font-family: 'Montserrat';
    color: var(--textMain);
    margin: 0;
}

.title--host {
    display: flex;
    justify-content: end;
    gap: 10px;
    font-size: 18px;
    align-items: center;
    width: 93px;
}

.title--host p {
    margin: 0;
    text-align: end;
}

.title--host img {
    width: 64px;
    height: 64px;
    border-radius: 32px;
}

.location {
    flex-direction: row;
    justify-content: start;
    font-size: 18px;
}

.location p {
    margin: 0;
}

.tagsrating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tagsrating__tags {
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.tagsrating__tags--tag {
    height: 25px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    background: var(--backgroundBlock);
    color: var(--textBlock);
    border-radius: 10px;
    padding: 4px 10px 0 10px; 
}

.tagsrating__stars {
    justify-content: end;
}

.tagsrating__stars--star.active {
    width: 25px;
    height: 24px;
    color:#FF6060;
    margin-left: 5px;
}

.tagsrating__stars--star.inactive {
    width: 25px;
    height: 24px;
    color:#E3E3E3;
    margin-left: 5px;
}

.details {
    flex-direction: row;
    justify-content: space-between;
}

.details__descr {

}

.carouselContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 415px;
    margin-bottom: 20px;
}

.carouselPicture {
    width: 100%;
    height: auto;
    border-radius: 25px;
    object-fit: cover;
}

.previousButton, .nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    width: 100px;
    background: none;
    border: none;
    padding: 20px;
    cursor: pointer;
}

.previousButton {
    left: 10px;
}
  
.nextButton {
    right: 10px;
}

.slideIndex {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
}
