@import 'variables';

:root {
    --textMain: #FF6060; /* Bittersweet*/
    --textLow: #000000; /* Black */
    --textBlock:#FFFFFF; /* White */
    --textFooter: #FFFFFF; /* White */
    --backgroundMain: #FFFFFF; /* White */
    --backgroundBlock: #FF6060; /* Bittersweet */
    --backgroundPicture: #F6F6F6; /* Grey Seasalt */
    --backgroundFooter: #000000; /* Black */
    --filledStar: #FF6060; /* Bittersweet filled star */
    --emptyStar: #E3E3E3; /* Grey empty star */
}


.info {
    display: flex;
    flex-direction: column;
    font-family: $font-family-base;
    font-weight: 500;
    margin: 30px 100px;
}
/* -------------------------- CARROUSEL ------------------ */
.carousel {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 415px;
    margin-bottom: 20px;

    &__picture {
        width: 100%;
        height: auto;
        border-radius: 25px;
        object-fit: cover;
    }

    &__previousButton, &__nextButton {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        width: 100px;
        background: none;
        border: none;
        padding: 20px;
        cursor: pointer;
    }

    &__previousButton {
        left: 10px;
    }
      
    &__nextButton {
        right: 10px;
    }

    &__slideIndex {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 16px;
        font-weight: 500;
        border-radius: 5px;
    }
}

/* ---------------------------- TITRE ET INFORMATIONS GENERALES --------------- */
.identification {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__title {
        font-size: 36px;
        color: $primaryT-color;
        margin: 0;
    }

    &__host {
        display: flex;
        justify-content: end;
        gap: 10px;
        font-size: 18px;
        align-items: center;
        width: 93px;
    }

    &__host p {
        margin: 0;
        text-align: end;
    }
    
    &__host img {
        width: 64px;
        height: 64px;
        border-radius: 32px;
    }

    &__location {
        flex-direction: row;
        justify-content: start;
        font-size: 18px;
    }
    
    &__location p {
        margin: 0;
    }
}

/* -------------------------- TAGS ET RATING -------------------------- */
.tagsrating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;

    &__tags {
        gap: 10px;
        display: flex;
        flex-direction: row;
        justify-content: start;

        &--tag {
            border: none;
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            background: $blockB-color;
            color: $blockT-color;
            border-radius: 10px;
            padding: 3px 22px 3px 22px; 
        }
    }

    &__stars {
        justify-content: end;

        &--star.active {
            width: 25px;
            height: 24px;
            color: $filledStar-color;
            margin-left: 5px;
        }
        
        &--star.inactive {
            width: 25px;
            height: 24px;
            color: $emptyStar-color;
            margin-left: 5px;
        }
    }
}

/* ---------------------- INFORMATIONS DETAILLEES (Description et Equipements) ---------------------- */
.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;

    &__block {
        display: flex;
        flex-direction: column;
        width: 47%;

        &__banner {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: $blockT-color;
            background: $blockB-color;
            padding: 10px 20px;
            border-radius: 10px;
            font-size: 18px;
            font-weight: 700;
            border: none;

            &--chevron {
                width: 24px;
                height: 13px;
                background: none;
                border: none;
            }
        }

        &--description {
            color: $secondaryT-color;
            font-weight: 400;
            padding: 20px;
        }
        
        &--listEquipment {
            list-style: none;
            padding: 20px;
        }
    }
}
