$textMain: #FF6060; // Bittersweet
$textLow: #000000; // Black
$textBlock:#FFFFFF; // White
$textFooter: #FFFFFF; // White
$backgroundMain: #FFFFFF; // White
$backgroundBlock: #FF6060; // Bittersweet
$backgroundPicture: #F6F6F6; // Grey Seasalt
$backgroundFooter: #000000; // Black
$filledStar: #FF6060; // Bittersweet filled star
$emptyStar: #E3E3E3; // Grey empty star 
